.homeContainer {
  margin-top: 10%;
  height: 100%;
}

.icon {
  font-size: 200px !important;
  color: #3f51b5;
}

.trader {
  font-family: "hardscience";
  font-size: 100px;
  color: #3e51b5;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.2);
}
